@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



@layer components {
  .all-\[unset\] {
    all: unset;
  }
  .specialgrid {
  --auto-grid-min-size: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 1rem;
  justify-items: center;
  padding: 0 10px 10px 10px;
  }
  .specialgrid2 {
    --auto-grid-min-size: 4.4rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1rem;
    justify-items: center;
    padding: 0 10px 10px 10px;
    }

  @font-face {
    font-family: 'font1';
    src: url('./assets/font1.otf') format('opentype');
  }
  
  .font-font1 {
    font-family: 'font1', sans-serif;
  }
}
@layer animaciones{
  .animacionbrillo{
    transition: filter 0.2s ease-in-out;


  }


  .animacionaparicion{
    opacity: 0;
    animation: fadeIn 0.3s ease;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .animacionout{
    animation: fadeOut;


  }
  @keyframes fadeOut {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .transitions{
    transition: opacity 0.3s ease;
  }

  
}
body {
    width: auto;
   
  }

